<p style="color: green"><%= notice %></p>

<h1>VALORANT friend 掲示板</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <p><strong> Name: </strong><%= article.name %></p>
    <%= render article %>
    
    <p>
      <%= link_to "メッセージを見る", article %>
    </p>
  <% end %>
</div>


<%= link_to "新しいメッセージ", new_article_path %>
