<p style="color: green"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<%= render @article %>



<div>
  <%= link_to "このメッセージを編集する", edit_article_path(@article) %> |
  <%= link_to "メッセージ一覧に戻る", articles_path %>

  <%= button_to "このメッセージを破棄する", @article, method: :delete %>
</div>
